# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

env:
  ZEPHYR_SDK_VERSION: "0.17.4"

tasks:
  install-zephyr:
    desc: Install Zephyr SDK and it's tooling
    internal: true
    preconditions:
      - msg: Check that the workspace .envrc is properly linked
        sh: test $(readlink -f envrc) = $(readlink -f ../.envrc)
      - msg: Check that the workspace .tool-versions is properly linked
        sh: test $(readlink -f tool-versions) = $(readlink -f ../.tool-versions)
      - msg: Check that the workspace Python virtual environment is active
        sh: test "$(readlink -f ../.venv)" = "$VIRTUAL_ENV"
    cmds:
      - task: install-zephyr-tooling
      - task: install-west
      - task: initialize-west
      - task: install-west-packages

  install-west:
    desc: Install west, the Zephyr management tool
    internal: true
    status:
      - test -e ../.venv/bin/west
    cmd: pip install west

  initialize-west:
    desc: Initialize West in the workspace
    internal: true
    preconditions:
      - msg: Ensure west is installed in the Python virtual environment
        sh: test -e ../.venv/bin/west
    status:
      - test -d ../.west
    cmds:
      - cd .. && west init --local origin && west update

  install-west-packages:
    desc: Install West's Python packages
    internal: true
    env:
      PY_SITE_PACKAGE_DIR:
        sh: python -c 'import site; print(site.getsitepackages()[0])'
    preconditions:
      - msg: Ensure west is installed in the Python virtual environment
        sh: test -e ../.venv/bin/west
    status:
      - test -d $PY_SITE_PACKAGE_DIR/serial
    cmd: cd .. && west packages pip --install

  install-zephyr-tooling:
    desc: Install the Zephyr SDK tooling in the workspace
    internal: true
    status:
      - test -d ../tools/zephyr-sdk-${ZEPHYR_SDK_VERSION}
    cmds:
      - cd ../tmp && wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v${ZEPHYR_SDK_VERSION}/zephyr-sdk-${ZEPHYR_SDK_VERSION}_linux-x86_64.tar.xz
      - cd ../tmp && wget -O - https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v${ZEPHYR_SDK_VERSION}/sha256.sum | shasum --check --ignore-missing
      - cd ../tmp && tar xf zephyr-sdk-${ZEPHYR_SDK_VERSION}_linux-x86_64.tar.xz -C ../tools
      - cd ../tools && ln -s zephyr-sdk-${ZEPHYR_SDK_VERSION} zephyr-sdk
      - rm ../tmp/zephyr-sdk-${ZEPHYR_SDK_VERSION}_linux-x86_64.tar.xz
